.wrap.srp h2 {
	background: url(../images/logo_46.png) 0 100% no-repeat;
	padding-left: 52px;
}
div.inside ul {
	margin-left: 20px;
}

div.inside ul li {
	list-style: square;
	line-height:16px;
}